BROKER_MODE=mt5
MT5_SYMBOL=GOLD#
MT5_PATH=C:\\Program Files\\MetaTrader 5\\terminal64.exe

AUTO_TRADE=true
MAX_LAYERS=1
FIXED_LOTS=0.02
SL_DOLLARS=1.5
TP_DOLLARS=3

NEWS_WINDOW_BEFORE_MIN=30
NEWS_WINDOW_AFTER_MIN=30
DEAD_FILL_MIN=20
DEAD_FILL_R=0.15

PORT=8001
